.navbar-section{
  margin-top: 35px;
  margin-left: 135px;
  font-family: Montserrat;
  font-style: normal;
}
.logoStyle1{
  margin-top: 35px;
  margin-left: 135px;
  width: 120.26px;
  height: 56px;
}
.link-item1{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}
.link-item1:hover{
  text-decoration: none;
  color: black;
}
.loginBtn{
padding: 12px 29px;

margin-right: 144px;

border: none;
background: #F9A51A;
border-radius: 5px
}