.login-field{
  margin-top: 130px;
  margin-left:200px;
}

.form{
  padding: 20px;
  width: 570px;
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 4px;
}
.inputField{
  background:none;
  border:none;
  outline: none;
  border-bottom: 1px solid #C5C5C5;
  color: #000000;
  padding-bottom: 15px;
  margin-top: 40px;
}
.inputField::placeholder{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #525252;
}
.form h4{
  color: #000000;
  font-weight: 700;
}
.extraDeeds label{
  color: black;
}
.logOrCreateBtn{
  border: none;
  padding: 14px 210px;
  width: 461px;
  height: 50px;
  background: #F9A51A;
  margin:auto;
}
.forgotPassword{
  color: #F9A51A!important;
}
.forgotPassword:hover{
  color: #F9A51A;
}
.checkingNewOrOld{
  margin-top: 20px;
  font-size: 18px;
}
.spanText{
  color: #F9A51A;
}
.fancyBtn{
  width: 461px;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 57px;
  margin-top: 10px;
}
.signUpWithFbOrGoogle{
  display: block;
  margin-left: 310px;
}